/packagecache/
/.wraplock

/curl-*/
/expat-*/
/flac-*/
/fmt-*/
/googletest-*/
/lame-*/
/id3tag-*/
/libmicrohttpd*
/libmpdclient/
/libnpupnp-*/
/libogg-*/
/libsndfile-*/
/libvorbis-*/
/liburing-*/
/nlohmann_json-*/
/openssl-*/
/opus-*/
/pcre2-*/
/sqlite-*/
