/packagecache/

/curl-*/
/expat-*/
/flac-*/
/fmt-*/
/googletest-*/
/lame-*/
/libid3tag-*/
/libmicrohttpd*
/libmpdclient/
/libnpupnp-*/
/libogg-*/
/libvorbis-*/
/liburing-*/
/openssl-*/
/opus-*/
/sqlite-*/
