/output/

__pycache__/

# Ignore all agentic related files
doc/MPD-secure.code-workspace
.claude
TODO.md
TODOS.md
CLAUDE.md
AGENTS.md
docs/agents
docs/standards
!docs/features
!docs/features/**
PROGRESS.MD
.session