*.Plo
*.Po
*.a
*.bz2
*.d
*.gz
*.la
*.lo
*.o
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.mk
config.status
config.sub
config_detected.h
config_detected.mk
configure
depcomp
depmode
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
mpd
stamp-h1
tags
*~
.#*
.stgit*
doc/protocol.html
doc/protocol
doc/user
doc/developer
doc/sticker
doc/api
test/software_volume
test/run_convert
test/run_decoder
test/read_tags
test/run_filter
test/run_encoder
test/run_output
test/read_conf
test/run_input
test/read_mixer
test/dump_playlist
