# required
port 			"2100"
music_directory 	"/home/shank/mp3"
playlist_directory 	"/home/shank/playlists"
log_file 		"/home/shank/mpd.log"
error_file 		"/home/shank/mpd.error"

# optional
mixer_type		"oss"
mixer_device 		"/dev/mixer"
#mixer_control		"Pcm"
# mixer_type is typically "oss", "alsa", or "software"
#mixer_type		"alsa"
#mixer_device		"default"
#mixer_control		"PCM"
# ao_driver is typically "oss" or "alsa09"
#ao_driver 		"oss"
#ao_driver_options 	"dsp=/dev/dsp"
#audio_write_size	"1024"
max_playlist_length 	"4096"
buffer_before_play 	"25%"
buffer_size		"2048"
#db_file		"/home/shank/playlists/.mpddb"
#state_file		"/home/shank/playlists/.mpdstate"
#user			"shank"
connection_timeout 	"60"
max_connections 	"5"
max_command_list_size 	"2048"
max_output_buffer_size 	"2048"
save_absolute_paths_in_playlists "no"
# log_level can be "default", "secure", "verbose"
log_level		"default"
# when bind_to_address is set to "any", MPD binds all available addresses
bind_to_address 	"any"
#passwd 		"passwd@read,add,control,admin"
#default_permissions	"read,add,control,admin"
#filesystem_charset	"UTF-8"
