# An example configuration file for MPD
# See the mpd.conf man page for a more detailed description of each parameter.

# Required files and directories ##############################################
#
# From this directory MPD will discover the available audio files and add them 
# to the daemon's online database.
#
music_directory			"~/music"
#
# This is the MPD internal playlist directory. This directory is not intended
# for preexisting playlists which were not created by MPD. 
#
playlist_directory		"~/.mpd/playlists"
#
# This is the database file. This holds MPDs audio file locations when the
# daemon is down.
#
db_file				"~/.mpd/database"
# 
# The log files for the daemon. Great for troubleshooting, depending on your
# log_level.
#
log_file			"~/.mpd/log"
error_file			"~/.mpd/error-log"
###############################################################################


# Optional files ##############################################################
#
# This file is required for mpd --kill, and some init script, usage.
#
#pid_file			"~/.mpd/pid"
#
# This file contains information about most variables to get MPD back into the
# same general shape it was in before it was brought down. This file must be 
# specified to utilize this feature.
#
#state_file			"~/.mpd/state"
#
###############################################################################


# General music daemon options ################################################
#
# This specifies the user that MPD will run as, if set.  MPD should
# never run as root, and you may use this option to make MPD change
# its user id after initialization.  Do not use this option if you
# start MPD as an unprivileged user.
#
#user				"nobody"
#
# The address for the daemon to listen on. Careful attention should be paid 
# if this is assigned to anything other then the default, any. This option can
# deny access to control of the daemon.
#
# For network
#bind_to_address		"any"
#
# And for Unix Socket
#bind_to_address		"~/.mpd/socket"
#
# The port that is desired for the daemon to get assigned to.
#
#port				"6600"
#
# Controls the type of information which is logged. Available options are
# "default", "secure" or "verbose". The verbose option recommended 
# for troubleshooting, though can quickly stretch available resources on 
# limited hardware.
#
#log_level			"default"
#
# If you have a problem with your MP3s ending abruptly it is recommended that 
# you set this argument to "no" to attempt to fix the problem. If this solves
# the problem, it is highly recommended to fix the MP3 files with vbrfix
# (available from <http://www.willwap.co.uk/Programs/vbrfix.php>), at which
# point gapless MP3 playback can be enabled.
#
#gapless_mp3_playback			"yes"
#
# Enable this have MPD create playlists in a format usable by other music
# players.
#
#save_absolute_paths_in_playlists	"no"
#
# A list of tag types that MPD will discover during audio file discovery.
# Optionally, comments can be added to this list.
#
#metadata_to_use	"artist,album,title,track,name,genre,date,composer,performer,disc"
#
###############################################################################

# Symbolic link behavior ######################################################
#
# Allow MPD to discover audio files by following symbolic links outside of the 
# configured music_directory.
#
#follow_outside_symlinks	"yes"
#
# Allow MPD to discover audio files by following symbolic links inside of the
# configured music_directory.
#
#follow_inside_symlinks		"yes"
#
###############################################################################

# Zeroconf / Avahi Service Discovery ##########################################
#
# If yes, service information will be published with Zeroconf / Avahi.
#
#zeroconf_enabled		"yes"
#
# The unique name for this MPD server for your network.
#
#zeroconf_name			"Music Player"
#
###############################################################################


# Permissions #################################################################
#
# MPD can require password authorization. This can be specified multiple times
# for different user profiles.
#
#password                        "password@read,add,control,admin"
#
# This specifies the permissions a user has who has not yet logged in. 
#
#default_permissions             "read,add,control,admin"
#
###############################################################################


# Audio Output ################################################################
#
# MPD supports many audio output types, as well as playing
# through multiple audio outputs at the same time.  You can
# specify one or more here.  If you don't specify any, MPD will
# automatically scan for a usable audio output.
#
# See <http://mpd.wikia.com/wiki/Configuration#Audio_Outputs>
# for examples of other audio outputs.
#
# An example of an ALSA output:
#
#audio_output {
#	type			"alsa"
#	name			"My ALSA Device"
#	device			"hw:0,0"	# optional
#	format			"44100:16:2"	# optional
#}
#
# An example of an OSS output:
#
#audio_output {
#	type			"oss"
#	name			"My OSS Device"
#	device			"/dev/dsp"	# optional
#	format			"44100:16:2"	# optional
#}
#
# An example of a shout output (for streaming to Icecast):
#
#audio_output {
#	type			"shout"
#	encoding		"ogg"			# optional
#	name			"My Shout Stream"
#	host			"localhost"
#	port			"8000"
#	mount			"/mpd.ogg"
#	password		"hackme"
#	quality			"5.0"
#	bitrate			"128"
#	format			"44100:16:1"
#	protocol		"icecast2"		# optional
#	user			"source"		# optional
#	description		"My Stream Description"	# optional
#	genre			"jazz"			# optional
#	public			"no"			# optional
#	timeout			"2"			# optional
#}
#
# An example of a pulseaudio output (streaming to a remote pulseaudio server)
#
#audio_output {
#	type			"pulse"
#	name			"My Pulse Output"
#	server			"remote_server"
#	sink			"remote_server_sink"
#}
#
## An example of a null output (for no audio output):
#
#audio_output {
#	type			"null"
#	name			"My Null Output"
#}
#
# Force all decoded audio to be converted to this format before being passed 
# to the audio outputs. By default, this option is disabled.
#
#audio_output_format		"44100:16:2"
#
# If MPD has been compiled with libsamplerate support, this specifies the 
# sample rate converter to use.  Possible values can be found in the mpd.conf 
# man page or the libsamplerate documentation. By default, this is option is 
# disabled.
#
#samplerate_converter		"Fastest Sinc Interpolator"
#
###############################################################################


# Volume control mixer ########################################################
#
# MPD has limited volume controls, to use them pick one below. If one is not
# specified it may be autodetected at startup, depending on available options.
#
# An example for controlling an ALSA mixer:
#
#mixer_type			"alsa"
#mixer_device			"default"
#mixer_control			"PCM"
#
# An example for controlling an OSS mixer:
#
#mixer_type			"oss"
#mixer_device			"/dev/mixer"
#mixer_control			"PCM"
#
# This example is a general volume control mixer, it is used to adjust the 
# volume of the audio sent to the audio output. 
#
#mixer_type			"software"
#
###############################################################################


# Normalization automatic volume adjustments ##################################
#
# Specifies the type of ReplayGain to use. This option can either be "album" or
# "track". See <http://www.replaygain.org> for more details. If this option is
# unset it is disabled.
#
#replaygain			"album"
#
# Sets the pre-amp used for files that have ReplayGain tags, if enabled.
#
#replaygain_preamp		"0"
#
# Enable on-the-fly normalization volume adjustment. This will result in the 
# volume of all playing audio to be adjusted so the output has equal 
# "loudness".
#
#volume_normalization		"no"
#
###############################################################################


# MPD Internal Buffering ######################################################
#
# The size of internal decoded audio buffering. Changing this can have 
# ill effects. Don't change this if you don't know what you are doing.
#
#audio_buffer_size		"2048"
#
# The percent of the buffer to fill before beginning to play. Increasing this
# reduces the chance of audio file skipping, but increases the time before 
# audio playback.
#
#buffer_before_play		"10%"
#
###############################################################################


# HTTP Streaming Proxy ########################################################
#
# Specifies the HTTP proxy to use for playing HTTP streams. By default, these
# options will be disabled.
#
#http_proxy_host		"proxy.isp.com"
#http_proxy_port		"8080"
#http_proxy_user		"user"
#http_proxy_password		"password"
#
###############################################################################


# Resource Limitations ########################################################
#
# These are various limitations to prevent MPD from using too many resources.
# Generally, these options should be minimized to prevent security risks,
# depending on the operating resources.
#
#connection_timeout		"60"
#max_connections		"10"
#max_playlist_length		"16384"
#max_command_list_size		"2048"
#max_output_buffer_size		"8192"
#
###############################################################################


# Character Encoding ##########################################################
#
# If file or directory names do not display correctly for your local then you 
# may need to modify this option. After option modification  mpd --create-db 
# must be run.
#
#filesystem_charset		"UTF-8"
#
# The encoding that ID3v1 tags should be converted from.
#
#id3v1_encoding			"ISO-8859-1"
#
###############################################################################
